<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Categorias
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar placeholder="Buscar" [(ngModel)]="valorBusqueda" (ionChange)="filtrarCategorias()"></ion-searchbar>

  <ion-list> 
            
    <ion-item [routerLink]="'/Page1Page/' + categoria.strCategory"*ngFor="let categoria of categoriasFiltradas; let index"> 
      <ion-avatar slot="start">
        <img [src]="categoria.strCategoryThumb" alt="avatar" />
      </ion-avatar>
      <ion-label>{{ categoria.strCategory }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-infinite-scroll>
  </ion-infinite-scroll>
</ion-content>
